sample-rest-app-cf/Schemas/RESTInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RESTInput" xmlns:tns="http://www.example.org/RESTInput" elementFormDefault="qualified">


    <complexType name="PersonDetails">
    	<sequence>
    		<element name="firstName" type="string"></element>
    		<element name="lastName" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Input" type="tns:PersonDetails"></element>
</schema>